<div class="series-detail" *ngIf="series">
  <!--{{ series.title }}-->
    <i class="fas fa-plus" *ngIf="userId" (click)="addWholeSeries(series)"></i>
    <i class="fas fa-list" *ngIf="userId" (click)="addToWatchlist(series)"></i>
    <i class="heart far fa-heart" *ngIf="userId" (click)="addToFavourites(series)"
       [ngClass]="hearted ? 'hearted fas fa-heart' : 'far fa-heart'"></i>
  <label class="description">{{ series.description }}</label>
  <div class="genres">
    <span *ngFor="let genre of series.genres">
      #{{ genre.name | lowercase }}
    </span>
  </div>
  <div class="all-seasons">
    <div class="single-season" *ngFor="let season of series.seasons">
      <label class="season-title">Season {{ season.seasonNumber }}</label>
      <i class="season-check fas fa-check" *ngIf="userId" (click)="addSingleSeason(season)"></i>
      <i class="fas fa-angle-double-down" *ngIf="userId" (click)="toggleEpisodes()"></i>
      <div class="all-episodes">
        <div *ngFor="let episode of season.episodes">
          <div class="single-episode" *ngIf="showEpisodes">
            <label class="episode-number">{{ episode.episodeNumber }} </label>
            <label class="episode-title">{{ episode.title }}</label>
            <i class="episode-check fas fa-check" *ngIf="userId" (click)="addSingleEpisode(episode)"></i>
            <label class="episode-date">{{ episode.releaseDate }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
