.heart:hover {
  color: red;
}

.hearted {
  color: red;
}

.season-check, .episode-check {
  font-size: 130%;
}

.checked {
  color: #c0850e;
  font-size: 130%
}

.arrow {
  font-size: 120%;
  padding-right: 5%;
}

.plus:hover, .list:hover, .episode-check:hover, .season-check:hover {
  color: #888888;
}


body {
  line-height: 1.5;
  letter-spacing: 1.2px;
  word-spacing: 2px;
  font-family: sans-serif;
}

.genres {
  opacity: 0.7;
  font-size: 95%;
  word-spacing: 55px;
  margin: 3% 1% 1%;
}

.all-seasons {
  display: table;
  width: 37%;
  margin: 1%;
}

.description {
  font-size: 105%;
  text-align: justify;
  word-spacing: 3px;
  letter-spacing: 1px;
  margin: 1%;
  background: #eeeeee0d;
}

.season-title {
  font-size: 125%;
  font-weight: bold;
  margin: 1%;
  background-color: #191919c9;
}

.all-episodes {
  font-size: 101%;
}

.episode-date, .episode-number {
  font-size: 90%;
  color: #efefef;
}

.season-check, .episode-check, .arrow {
  float: right;
}

.series-summary {
  display: inline-block;
  width: 68%;
  vertical-align: top;
}

#image {
  display: inline-block;
  width: 30%;
  margin: 1%;
}

.plus, .list, .heart {
  margin: 4%;
}

.icons {
  font-size: 190%;
  margin: 1%;
  background: #eeeeee0d;
  width: 16%;
  text-align: center;
}

.all-episodes {
  font-size: 110%;
  background: #191919c9;
}

.single-episode {
  margin: 1%;
}

.episode-date, .episode-number, .episode-title {
  display: inline-block;
  padding-right: 5%;
}

.tooltip {
  padding-right: 7%;
}

.toggle-title {
  display: inline-block;
  width: 95%;
}

.already-checked {
  color: green;
}
