<div class="trending">
  <div class="first">
    <h2>American Horror Story season 8 final episode airs today</h2>
    <h3>Watch the promo video here: </h3>
    <iframe width="700" height="394" src="https://www.youtube.com/embed/GmqfLDZ1uMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="second">
    <h3>New series, Maniac trending on Netflix</h3>
    <div class="description">
      <label>
        Maniac is an American psychological dark comedy-drama web television miniseries based on the Norwegian television series of the same name by Espen PA Lervaag, Håakon Bast Mossige, Kjetil Indregard, and Ole Marius Araldsen, that premiered on September 21, 2018 on Netflix.
        The series, created by Patrick Somerville and directed by Cary Joji Fukunaga, follows two strangers who connect during a mind-bending pharmaceutical trial. It stars Emma Stone, Jonah Hill, Justin Theroux, Sonoya Mizuno, Gabriel Byrne, and Sally Field.
        The series was officially announced in March 2016 with Netflix ordering the production straight-to-series that same month. Upon release, the series received positive reviews from critics, with many praising its visuals, direction and acting, particularly the performances of Stone and Hill.
      </label>
    </div>
    <div class="image">
      <img src="assets/maniac.jpg">
    </div>
  </div>
</div>
