<!--<div *ngFor="let series of watchedEpisodes">-->
  <!--{{ series.title }}-->
  <!--{{ series.description }}-->
  <!--<span *ngFor="let genre of series.genres">-->
    <!--{{ genre.name }}-->
  <!--</span>-->
  <!--<div *ngFor="let season of series.seasons">-->
    <!--Season {{ season.seasonNumber }}-->
    <!--<div *ngFor="let episode of season.episodes">-->
      <!--{{ episode.episodeNumber }}-->
      <!--{{ episode.title }}-->
      <!--{{ episode.releaseDate }}-->
      <!--{{ episode.runtime }}-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div *ngIf="watchedEpisodes">
  <table class="pure-table watched-table">
    <thead>
      <tr>
        <th>Release date</th>
        <th>Episode number</th>
        <th>Title</th>
        <th>Runtime</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let episode of watchedEpisodes">
        <td>{{ episode.releaseDate }}</td>
        <td class="text-center">{{ episode.episodeNumber }}</td>
        <td>{{ episode.title }}</td>
        <td>{{ episode.runtime }} minute(s)</td>
      </tr>
    </tbody>
  </table>
  <table class="wasted-table pure-table">
    <thead>
      <tr>
        <th>
          Time wasted: {{ timeWasted | timeConverter }}
        </th>
      </tr>
    </thead>
  </table>
</div>
