<div class="user-page" *ngIf="user">
  <div class="username">
    <label>{{ user.userName }}</label>
  </div>
  <div class="watchlist" [routerLink]="['watchlist']" (click)="changeTab(1)">Watchlist
    <app-watchlist *ngIf="tabNum === 1" [watchList]="tabNum === 1 ? user.watchlist : []"></app-watchlist>
  </div>
  <div class="favourites" [routerLink]="['favourites']" (click)="changeTab(2)">Favourites
    <app-favourites *ngIf="tabNum === 2" [favourites]="tabNum === 2 ? user.favourites : []"></app-favourites>
  </div>
  <div class="watched" [routerLink]="['watched']" (click)="changeTab(3)">My Shows
    <app-watched *ngIf="tabNum === 3" [watchedEpisodes]="tabNum === 3 ? user.watchedEpisodes : []"
                 [timeWasted]="user.timeWasted"></app-watched>
  </div>
  <router-outlet></router-outlet>
</div>
