.search-result {
  width: 22%;
  float: left;
}

.search-item {
  font-size: 140%;
  margin: 20px;
  padding: 20px;
  background: #eeeeee0d;
}

.search-item:hover {
  color: #919191;
}

.search-title {
  padding-left: 20px;
}

.detail {
  width: 70%;
  overflow: auto;
}
